---
import Layout from '../layouts/Base.astro'
import { getPage, isPublished, hasPermalink } from '../utils/cms.ts'

const page = getPage(
  Astro.fetchContent('../data/pages/*.md')
    .filter(isPublished)
    .find(hasPermalink('/'))
)
---

<Layout {page}>
	<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
</Layout>
